@import "fonts.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

section {
  padding: 64px 40px 68px 40px;
}

.section-title {
  font-size: 30px;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.1px;
}

.section-description {
  padding-top: 23px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.get_a_quote {
  padding-bottom: 12px;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get_a_quote-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.get_a_quote-form {
  padding-top: 15px;
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
}

.get_a_quote-form-input,
.get_a_quote-form-textarea {
  width: 619px;
  padding: 8px 2px 8px 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.get_a_quote-form-input::placeholder,
.get_a_quote-form-textarea::placeholder {
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #f48c8f;
}

.get_a_quote-form-textarea {
  height: 202px;
  resize: none;
}

.get_a_quote-submit_button {
  width: fit-content;
  padding: 8px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #f48c8f;
  background-color: #d6564f;
  border: none;
}

.contact_info {
  padding-top: 15px;
}

.contact_info-title {
  font-size: 18px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  color: #f0d8d9;
}

.contact_info-description {
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.contact_info-links {
  padding-top: 20px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #f0d8d9;
}

.contact_info-location {
  display: block;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #f0d8d9;
}

.contact_info-phone {
  display: block;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #f0d8d9;
}

.contact_info-email {
  display: block;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #f0d8d9;
}

.contact_info-email:hover {
  color: #000000;
}

.contact_info-link-description {
  padding-left: 10px;
}

.contact_info-link-icon {
  height: 14px;
  width: 14px;
  filter: invert(1);
}

.contact_info-link-icon:hover {
  filter: invert(0);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 30px 40px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #666d89;
  background-color: #2d303a;
}

.social_buttons {
  width: 154px;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social_icon-container {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social_icon {
  width: 15px;
  height: 15px;
  margin: 7px;
  fill: #666d89;
}

.social_icon:hover {
  fill: #000000;
  cursor: pointer;
}

.footer-copyright {
  padding-top: 4px;
  letter-spacing: -0.1px;
  line-height: 30px;
}
