@import "fonts.css";

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 1020px;
  margin: 0 auto;
}

section {
  padding: 64px 40px 68px 40px;
}

.section-title {
  font-size: 30px;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.1px;
}

.section-description {
  padding-top: 23px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.get_a_quote {
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get_a_quote-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.get_a_quote-form {
  display: grid;
  grid-template-rows: auto;
  gap: 15px;
}

.get_a_quote-form-input,
.get_a_quote-form-textarea {
  width: 619px;
  padding: 4px 2px 4px 12px;
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.get_a_quote-form-input::placeholder,
.get_a_quote-form-textarea::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

.get_a_quote-form-textarea {
  resize: none;
}

.get_a_quote-submit_button {
  display: none;
}

.footer {
  padding: 30px;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #666d89;
  background-color: #2d303a;
}
